html, body
{
   margin: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
}
body
{
   font-family: sans-serif;
   font-size: 16px;
   user-select: none;
   background-color: #23222b;
   color: white;
}



header
{
   text-align: center;
}



.container
{
   margin: 4px;
}


.option
{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px;
   padding-top: 5px;
   padding-right: 8px;
   margin: 5px;
   border-radius: 5px;
   background-color: #2a2933;
   gap: 10px;
}



input[type="checkbox"]
{
   cursor: pointer;
}

input[type="number"]
{
   width: 75px;
   text-align: center;
   appearance: textfield;
   font-weight: bold;

   background-color: #35333f;
   color: white;
   border: none;
   border-radius: 5px;
}

input[type="range"]
{
   flex: 1 0 auto;
   cursor: pointer;
}
input[type="range"].gray
{
   filter: grayscale(100%);
   opacity: 0.5;
}



.percent-sign
{
   position: relative;
   right: 2px;
   font-weight: bold;
}
.url
{
   display: inline-block;

   font-family: monospace;
   font-weight: bold;

   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;

   vertical-align: bottom;

   max-width: 300px; /* 330 / 460 */
}
.hidden
{
   display: none;
}



img.trash-can
{
   position: relative;
   width: 16px;
   height: 16px;
   cursor: pointer;
   filter: invert(12%) sepia(95%) saturate(7171%) hue-rotate(3deg) brightness(108%) contrast(113%);
   left: 3px;
   top: 2px;
}
img.trash-can.gray
{
   pointer-events: none;
   filter: invert(26%) sepia(6%) saturate(444%) hue-rotate(202deg) brightness(94%) contrast(85%);
}

img.fake-trash-can
{
   visibility: hidden;
}



footer
{
   margin-top: auto;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
}