html, body
{
   margin: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
}
body
{
   font-family: sans-serif;
   font-size: 16px;
   background-color: #23222b;
   color: white;
}



header
{
   text-align: center;
}


select
{
   font-size: 16px;
   background-color: #35333f;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}


input[type="checkbox"]
{
   cursor: pointer;
}

input[type="number"]
{
   width: 75px;
   text-align: center;
   appearance: textfield;
   font-weight: bold;

   background-color: #35333f;
   color: white;
   border: none;
   border-radius: 5px;
}

input[type="range"]
{
   flex: 1 0 auto;
   cursor: pointer;
}
input[type="range"].disabled
{
   filter: grayscale(100%);
   opacity: 0.5;
}


.container
{
   margin: 4px;
}


.option
{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px;
   padding-top: 5px;
   padding-right: 8px;
   margin: 5px;
   border-radius: 5px;
   background-color: #2a2933;
   gap: 10px;
}


.important-button
{
   display: block;
   margin-left: auto;
   margin-right: auto;

   cursor: pointer;
   padding: 5px;
   border-radius: 5px;
   background-color: rgb(146, 28, 28);
   color: white;
   border: none;
   font-weight: bold;
}



.percent-sign
{
   position: relative;
   right: 2px;
   font-weight: bold;
}
.url
{
   display: inline-block;

   font-family: monospace;
   font-weight: bold;

   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;

   vertical-align: bottom;

   max-width: 300px; /* 330 / 460 */
}
.hidden
{
   display: none;
}



a.note > img
{
   position: relative;
   cursor: pointer;
   left: 4px;
   top: 2px;
   margin-right: 8px;

   filter: invert(85%);
}
a.quaver > img
{
   content: url("../assets/quaver-32.png");
}
a.beam > img
{
   content: url("../assets/beam-32.png");
}
a.note.disabled > img
{
   filter: invert(26%) sepia(6%) saturate(444%) hue-rotate(202deg) brightness(94%) contrast(85%);
}


a.trash-can > img
{
   position: relative;
   cursor: pointer;
   left: 3px;
   top: 2px;

   filter: invert(9%) sepia(83%) saturate(7456%) hue-rotate(14deg) brightness(95%) contrast(95%);
}
a.trash-can.disabled > img
{
   pointer-events: none;
   filter: invert(26%) sepia(6%) saturate(444%) hue-rotate(202deg) brightness(94%) contrast(85%);
}

a.fake
{
   visibility: hidden;
}



footer
{
   margin-top: auto;
   margin-bottom: 10px;
   text-align: center;

   font-size: 15px;
}
footer > a
{
   color: white;
}