html, body
{
   height: 100%;
   display: flex;
   flex-direction: column;
}
body
{
   font-family: sans-serif;
   user-select: none;
   background-color: #23222b;
   color: white;
}



header
{
   text-align: center;
}



.option
{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px;
   padding-top: 5px;
   padding-right: 8px;
   margin: 5px;
   border-radius: 5px;
   background-color: #2a2933;
   gap: 10px;
}



input[type="checkbox"]
{
   cursor: pointer;
}

input[type="number"]
{
   width: 75px;
   text-align: center;
   appearance: textfield;
   font-weight: bold;

   background-color: #35333f;
   color: white;
   border: none;
   border-radius: 5px;
}

input[type="range"]
{
   cursor: pointer;
}
input[type="range"].gray
{
   filter: grayscale(100%);
   opacity: 0.5;
}



.url
{
   font-weight: bold;
}
.hidden
{
   display: none;
}



img.trash-can
{
   position: relative;
   width: 16px;
   height: 16px;
   cursor: pointer;
   filter: invert(12%) sepia(95%) saturate(7171%) hue-rotate(3deg) brightness(108%) contrast(113%);
   left: 3px;
   top: 2px;
}
img.trash-can.gray
{
   pointer-events: none;
   filter: invert(26%) sepia(6%) saturate(444%) hue-rotate(202deg) brightness(94%) contrast(85%);
}



footer
{
   margin-top: auto;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
}